files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDxXFPq7i/JG6huax3bMCyAI4Mcpph1d4lkrNsahyqP/MdzsEopkFSeH3JKt3Qujz1e0rOatdsrXBISJC4yYVA1kpKc0WLMXTLL7Fyc9FvRm6/o3dbRfxgg9Du5V3CdzBIufege39lANjykiXgJtXhjxLh/LAepRoM5JYOiTa3c19+WzcsMTeEH0ke92g2DMO1/Vlsq2+CsJBaUE43NJ+sIq31F57zDGTHW1/YGshjS8eICUfFbKXlrJ0zhF/ZJptKnGBm4f45XK2w3KbMHWFt4pXH5sQk4tYozwg6c6GYtNTzyNxof4w7BgJE2BO84LkDLsNc/SYJm3nerWR2kODmr mchristianson@Matts-MacBook-Pro.local
